<mat-accordion class="headers-align" [multi]="true">
  <mat-expansion-panel *ngFor="let day of historicWeather" (opened)="sayHi()" (closed)="sayHi()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{prettifyTime(day.time)}}
      </mat-panel-title>
      <mat-panel-description>
        {{day.summary}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>{{day.apparentTemperatureHigh}}</p>
    <p>{{day.apparentTemperatureLow}}</p>
    <p>{{day.humidity}}</p>
    <p>{{day.icon}}</p>
    <p>{{day.precipProbability}}</p>
    <p>{{day.temperatureHigh}}</p>
    <p>{{day.temperatureLow}}</p>
    <p>{{day.windSpeed}}</p>
  </mat-expansion-panel>
</mat-accordion>
<div>
  <charts [data]=" historicWeather ">
  </charts>
</div>
